//  ███████╗███████╗.█████╗.██████╗..██████╗██╗..██╗......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝██║..██║......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ███████╗█████╗..███████║██████╔╝██║.....███████║█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ╚════██║██╔══╝..██╔══██║██╔══██╗██║.....██╔══██║╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ███████║███████╗██║..██║██║..██║╚██████╗██║..██║......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚══════╝╚══════╝╚═╝..╚═╝╚═╝..╚═╝.╚═════╝╚═╝..╚═╝......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  .................................................................................................

@use '../../foundations/molecules/search-foundations.scss' as *;

@mixin search-content {
    width: auto;
    height: 80px;
    box-shadow: $search-shadow-elements;
    background: $search-white-color;
    display: inline-flex;
    padding: 8px 24px 24px 24px;
}
