body {
  background-image: url("./background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
main {
  /* opacity: 0.8; */
}
main  {
  box-shadow: 0 0 25px 5px rgb(213, 210, 210);
  padding: 10px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
