//  .██████╗██╗..██╗███████╗.██████╗██╗..██╗██████╗..██████╗.██╗..██╗.....███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔════╝██║..██║██╔════╝██╔════╝██║.██╔╝██╔══██╗██╔═══██╗╚██╗██╔╝.....████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██║.....███████║█████╗..██║.....█████╔╝.██████╔╝██║...██║.╚███╔╝█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██║.....██╔══██║██╔══╝..██║.....██╔═██╗.██╔══██╗██║...██║.██╔██╗╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ╚██████╗██║..██║███████╗╚██████╗██║..██╗██████╔╝╚██████╔╝██╔╝.██╗.....██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  .╚═════╝╚═╝..╚═╝╚══════╝.╚═════╝╚═╝..╚═╝╚═════╝..╚═════╝.╚═╝..╚═╝.....╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  .................................................................................................................

@mixin checkbox-style-common($left, $top, $border) {
    left: $left;
    top: $top;
    border: $border;
}
