@use "./input.foundation.scss" as *;
@use "../../core/config.scss" as *;

$input-name: 'input';
$input-namespace: #{$prefix}-'#{$input-name}';

.#{$input-namespace}-container {
  border-color: $input-base-border-color;
  border-radius: $input-border-radius;
}

@mixin input-container() {
  display: flex;
}
