<!-- <section
  class="bc_space_2_padding bc_space_4_top bc_space_4_bottom bc-row"
  id="upload-component-success"
>
  <div
    class="bc-offset-lg-4 bc-col-xs-6 bc-offset-md-3 bc-col-md-6 bc-offset-xs-0 bc-col-lg-4"
    id="success-body"
  >
    <div bc-card typeCard="image">
      <div class="bc-card-picture">
        <bc-icon
          aria-label="Icono de exito en la transaccion"
          width="200px"
          name="il-process-successful"
        ></bc-icon>
      </div>
      <div class="bc-card-content">
        <p class="bc-card-subtitle bc-align-left">Gracias por tu apoyo</p>
        <h4 class="bc-card-title bc-align-left">
          Se ha guardado con éxito el componente
        </h4>
        <p class="bc-card-text">
          El componente ya está disponible en nuestro catálogo recuerda que
          puedes editarlo y agregar la información relevante del mismo.
        </p>
        <div class="bc-card-tags">
          <div class="bc-card-badge bc-card-badge-info">
            <p>Proceso exitoso</p>
          </div>
        </div>
        <div class="bc-card-row">
          <button
            bc-button
            sizeButton="small"
            typeButton="secondary"
            aria-label="Boton"
            sizebutton="Small"
            role="button"
            tabindex="0"
            (click)="goHome()"
          >
            Ir a página de inicio
          </button>
          <button
            bc-button
            sizeButton="small"
            aria-label="Boton"
            sizebutton="Small"
            role="button"
            tabindex="1"
            (click)="goToAddAnotherComponent()"
          >
            Agregar otro componente
          </button>
        </div>
      </div>
    </div>
  </div>
</section> -->
