//  ██╗███╗...██╗██████╗.██╗...██╗████████╗...███╗...██╗██╗...██╗███╗...███╗██████╗.███████╗██████╗.......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██║████╗..██║██╔══██╗██║...██║╚══██╔══╝...████╗..██║██║...██║████╗.████║██╔══██╗██╔════╝██╔══██╗......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██║██╔██╗.██║██████╔╝██║...██║...██║█████╗██╔██╗.██║██║...██║██╔████╔██║██████╔╝█████╗..██████╔╝█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██║██║╚██╗██║██╔═══╝.██║...██║...██║╚════╝██║╚██╗██║██║...██║██║╚██╔╝██║██╔══██╗██╔══╝..██╔══██╗╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║██║.╚████║██║.....╚██████╔╝...██║......██║.╚████║╚██████╔╝██║.╚═╝.██║██████╔╝███████╗██║..██║......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝╚═╝..╚═══╝╚═╝......╚═════╝....╚═╝......╚═╝..╚═══╝.╚═════╝.╚═╝.....╚═╝╚═════╝.╚══════╝╚═╝..╚═╝......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  .................................................................................................................................................

@use '../../foundations/molecules/input-number-foundations.scss' as *;
@use '../../mixins/common-mixins.scss' as *;

@mixin input-number-button-structure {
  font-size: 10px;
  background-color: $input-number-button-active-color;
  width: $input-number-button-selector-dimension;
  height: $input-number-button-selector-dimension;
  @include outline-on-focus;
  &:active:enabled {
    background-color: $input-number-color-button-active;
    color: $input-number-button-active-enabled-color;
  }
  &:hover {
    background-color: $input-number-button-hover-color;
  }
}

@mixin input-number-status-disabled {
  pointer-events: none;
  opacity: 0.35;
  color: green;
  
}
