@use "../../../core/foundations/input-select-foundations.scss" as *;
@use "../../../core/configuration.scss" as *;

:host {
  ul {
    list-style: none;
    padding: 0;
    li {
      height: 32px;
    }

    &[aria-expanded="true"] {
      height: min-content;
      display: initial;
    }
  }
}
