//  ██████╗..██████╗.██████╗.██████╗.███████╗██████╗.......██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗......██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ██████╔╝██║...██║██████╔╝██║..██║█████╗..██████╔╝█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ██╔══██╗██║...██║██╔══██╗██║..██║██╔══╝..██╔══██╗╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ██████╔╝╚██████╔╝██║..██║██████╔╝███████╗██║..██║......╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  ╚═════╝..╚═════╝.╚═╝..╚═╝╚═════╝.╚══════╝╚═╝..╚═╝.......╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  ...................................................................................................................


@use '../foundations/border-foundations.scss' as *;

$border-value: 1px solid $border-solid-color;
$border-utilities: () !default;
$border-utilities: (
  "border": (
    property: border,
    values: (
      null: $border-value,
      0: (
        null: 0,
        width: 0,
      ),
      1: (
        width: 1px,
      ),
      2: (
        width: 2px,
      ),
      3: (
        width: 3px,
      ),
      top: (
        top: $border-value,
      ),
      top-0: (
        top: 0,
      ),
      end: (
        right: $border-value,
      ),
      end-0: (
        right: 0,
      ),
      bottom: (
        bottom: $border-value,
      ),
      bottom-0: (
        bottom: 0,
      ),
      start: (
        left: $border-value,
      ),
      start-0: (
        left: 0,
      ),
      light: (
        color: $border-light-color,
      ),
      dark: (
        color: $border-dark-color,
      ),
      white: (
        color: $border-white-color,
      ),
      rounded-0: (
        radius: 0,
      ),
      none: none,
    ),
  ),
);
