//  .██████╗██╗.....███████╗.█████╗.██████╗.███████╗██╗██╗..██╗.....██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██╔════╝██║.....██╔════╝██╔══██╗██╔══██╗██╔════╝██║╚██╗██╔╝.....██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ██║.....██║.....█████╗..███████║██████╔╝█████╗..██║.╚███╔╝█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ██║.....██║.....██╔══╝..██╔══██║██╔══██╗██╔══╝..██║.██╔██╗╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ╚██████╗███████╗███████╗██║..██║██║..██║██║.....██║██╔╝.██╗.....╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  .╚═════╝╚══════╝╚══════╝╚═╝..╚═╝╚═╝..╚═╝╚═╝.....╚═╝╚═╝..╚═╝......╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  ............................................................................................................................

$clearfix-utilities: () !default;
$clearfix-utilities:(
    "clearfix": (
        state: after,
        only-pseudo: true,
        class: "clearfix",
        values: (
            null: (
                display: block,
                clear: both,
                content: "",
            )
        ),
    ),
);