//  ███████╗██╗......██████╗..█████╗.████████╗...██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██╔════╝██║.....██╔═══██╗██╔══██╗╚══██╔══╝...██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  █████╗..██║.....██║...██║███████║...██║█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ██╔══╝..██║.....██║...██║██╔══██║...██║╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ██║.....███████╗╚██████╔╝██║..██║...██║......╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  ╚═╝.....╚══════╝.╚═════╝.╚═╝..╚═╝...╚═╝.......╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  .........................................................................................................

$float-utilities: () !default;
$float-utilities: (
    "float": (
        property: "float",
        values: (
            start: left, 
            end: right, 
            none: none
        )
    ),
);