//  .██████╗.██╗...██╗███████╗██████╗.███████╗██╗......██████╗.██╗....██╗......██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██╔═══██╗██║...██║██╔════╝██╔══██╗██╔════╝██║.....██╔═══██╗██║....██║......██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ██║...██║██║...██║█████╗..██████╔╝█████╗..██║.....██║...██║██║.█╗.██║█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ██║...██║╚██╗.██╔╝██╔══╝..██╔══██╗██╔══╝..██║.....██║...██║██║███╗██║╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ╚██████╔╝.╚████╔╝.███████╗██║..██║██║.....███████╗╚██████╔╝╚███╔███╔╝......╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  .╚═════╝...╚═══╝..╚══════╝╚═╝..╚═╝╚═╝.....╚══════╝.╚═════╝..╚══╝╚══╝........╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  .......................................................................................................................................

$overflow-utilities: () !default;
$overflow-utilities: (
    "overflow": (
        property: "overflow",
        values: auto hidden visible scroll
    ),
);