//  ██████╗..██████╗.███████╗██╗████████╗██╗.██████╗.███╗...██╗......██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██╔══██╗██╔═══██╗██╔════╝██║╚══██╔══╝██║██╔═══██╗████╗..██║......██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ██████╔╝██║...██║███████╗██║...██║...██║██║...██║██╔██╗.██║█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ██╔═══╝.██║...██║╚════██║██║...██║...██║██║...██║██║╚██╗██║╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ██║.....╚██████╔╝███████║██║...██║...██║╚██████╔╝██║.╚████║......╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  ╚═╝......╚═════╝.╚══════╝╚═╝...╚═╝...╚═╝.╚═════╝.╚═╝..╚═══╝.......╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  .............................................................................................................................

$position-utilities: () !default;
$position-utilities: (
    "position": (
        property: position,
        values: static relative absolute fixed sticky
    ),
    "position-sticky-wk": (
        property: 'position',
        values: (
            sticky: -webkit-sticky
        )
    ),
    "position-top": (
        property: top,
        values: 0 50% 100%
    ),
    "position-bottom": (
        property: bottom,
        values: 0 50% 100%
    ),
    "position-start": (
        class: start,
        property:  left,
        values: 0 50% 100%
    ),
    "position-end": (
        class: end,
        property:  right,
        values: 0 50% 100%
    ),
    "position-translate": (
        property: transform,
        class: translate,
        values: (
            middle: translate(-50%, -50%),
            middle-x: translateX(-50%),
            middle-y: translateY(-50%)
        )
    ),
);