//  ███████╗██╗███████╗██╗███╗...██╗.██████╗.......██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██╔════╝██║╚══███╔╝██║████╗..██║██╔════╝.......██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ███████╗██║..███╔╝.██║██╔██╗.██║██║..███╗█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ╚════██║██║.███╔╝..██║██║╚██╗██║██║...██║╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ███████║██║███████╗██║██║.╚████║╚██████╔╝......╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  ╚══════╝╚═╝╚══════╝╚═╝╚═╝..╚═══╝.╚═════╝........╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  ...........................................................................................................

$sizing-utilities: () !default;
$sizing-utilities: (
    "sizing-w": (
        property: width,
        class: w,
        values: 25% 50% 75% 100% auto
    ),
    "sizing-mw": (
        property: max-width,
        class: mw,
        values: (
            null: 100%
        )
    ),
    "sizing-vw": (
        property: width,
        class: vw,
        values: (
            100: 100vw
        )
    ),
    "sizing-min-vw": (
        property: min-width,
        class: min-vw,
        values: (
            100: 100vw
        )
    ),
    "sizing-h": (
        property: height,
        class: h,
        values: 25% 50% 75% 100% auto
    ),
    
    "sizing-mh": (
        property: max-height,
        class: mh,
        values: (
            null: 100%
        )
    ),
    "sizing-vh": (
        property: height,
        class: vh,
        values: (
            100: 100vh
        )
    ),
    "sizing-min-vh": (
        property: min-height,
        class: min-vh,
        values: (
            100: 100vh
        )
    ),
);