//  ██╗......█████╗.██╗...██╗.██████╗.██╗...██╗████████╗
//  ██║.....██╔══██╗╚██╗.██╔╝██╔═══██╗██║...██║╚══██╔══╝
//  ██║.....███████║.╚████╔╝.██║...██║██║...██║...██║...
//  ██║.....██╔══██║..╚██╔╝..██║...██║██║...██║...██║...
//  ███████╗██║..██║...██║...╚██████╔╝╚██████╔╝...██║...
//  ╚══════╝╚═╝..╚═╝...╚═╝....╚═════╝..╚═════╝....╚═╝...
//  ....................................................

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$xs-gutter: 8px;
$sm-gutter: 8px;
$md-gutter: 24px;
$lg-gutter: 16px;
$xl-gutter: 16px;

$breakpoints: (
  gen: (
    breakpoint-rule: null,
    padding-container: 24px,
    gutter: 24px,
    columns: 12,
    max-width: none,
  ),
  xs: (
    breakpoint-rule: "only screen and (min-width:" + $xs + ")",
    breakpoint-rule-full: "only screen and (max-width:"+( $sm - 1)+")",
    padding-container: 16px,
    gutter: $xs-gutter,
    columns: 6,
    max-width: $sm - ($xs-gutter*2) - 1,
  ),
  sm: (
    breakpoint-rule: "only screen and (min-width: " + $sm + ")",
    breakpoint-rule-full: "only screen and (min-width:" + $sm + ") and (max-width:"+ ($md - 1)+")",
    padding-container: 24px,
    gutter: $sm-gutter,
    columns: 12,
    max-width: $md - ($sm-gutter*2) - 1,
  ),
  md: (
    breakpoint-rule: "only screen and (min-width:" + $md + ")",
    breakpoint-rule-full: "only screen and (min-width:" + $md + ") and (max-width:"+ ($lg - 1)+")",
    padding-container: 24px,
    gutter: $md-gutter,
    columns: 12,
    max-width: $lg - ($md-gutter*2) - 1,
  ),
  lg: (
    breakpoint-rule: "only screen and (min-width: " + $lg + ")",
    breakpoint-rule-full: "only screen and (min-width:" + $lg + ") and (max-width:"+ ($xl - 1)+")",
    padding-container: 24px,
    gutter: $lg-gutter,
    columns: 12,
    max-width: $xl - ($lg-gutter*2) - 1,
  ),
  xl: (
    breakpoint-rule: "only screen and (min-width: " + $xl + ")",
    breakpoint-rule-full: "only screen and (min-width: " + $xl + ")",
    padding-container: 24px,
    gutter: $xl-gutter,
    columns: 12,
    max-width: none,
  ),
);
