//  ██████╗ ██████╗  █████╗  ██████╗██╗████████╗██╗   ██╗
// ██╔═══██╗██╔══██╗██╔══██╗██╔════╝██║╚══██╔══╝╚██╗ ██╔╝
// ██║   ██║██████╔╝███████║██║     ██║   ██║    ╚████╔╝
// ██║   ██║██╔═══╝ ██╔══██║██║     ██║   ██║     ╚██╔╝
// ╚██████╔╝██║     ██║  ██║╚██████╗██║   ██║      ██║
//  ╚═════╝ ╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝   ╚═╝      ╚═╝
//  ...........................................................

$opacity-00: 0;
$opacity-08: 0.08;
$opacity-16: 0.16;
$opacity-24: 0.24;
$opacity-32: 0.32;
$opacity-40: 0.40;
$opacity-48: 0.48;
$opacity-56: 0.56;
$opacity-64: 0.64;
$opacity-72: 0.72;
$opacity-80: 0.80;
$opacity-10: 1;

