@use 'themes/white-theme.scss' as colors;

//  ███████╗██╗..██╗.█████╗.██████╗..██████╗.██╗....██╗███████╗
//  ██╔════╝██║..██║██╔══██╗██╔══██╗██╔═══██╗██║....██║██╔════╝
//  ███████╗███████║███████║██║..██║██║...██║██║.█╗.██║███████╗
//  ╚════██║██╔══██║██╔══██║██║..██║██║...██║██║███╗██║╚════██║
//  ███████║██║..██║██║..██║██████╔╝╚██████╔╝╚███╔███╔╝███████║
//  ╚══════╝╚═╝..╚═╝╚═╝..╚═╝╚═════╝..╚═════╝..╚══╝╚══╝.╚══════╝
//  ...........................................................


$shadow-00: 0 0 0px 0 rgba(0,0,0,0.16), 0 0px 0px 0 rgba(0,0,0,0.1);
$shadow-01: 0 0 2px 0 rgba(0,0,0,0.16), 0 1px 3px 0 rgba(0,0,0,0.1);
$shadow-02: 0 2px 4px 0 rgba(0,0,0,0.1), 0 0 5px 0 rgba(0,0,0,0.1);
$shadow-03: 0 1px 8px 0 rgba(0,0,0,0.14), 0 3px 8px 0 rgba(0,0,0,0.11);
$shadow-04: 0 3px 12px 0 rgba(0,0,0,0.12), 0 9px 8px 0 rgba(0,0,0,0.11);
$shadow-05: 0 10px 16px 0 rgba(0,0,0,0.19), 0 0 16px 0 rgba(0,0,0,0.1);
$shadow-06: 0 30px 80px 0 rgba(0,0,0,0.19), 0 16px 24px 0 rgba(0,0,0,0.2);
$shadow-07: 0 1px 4px rgba(0, 0, 0, 0.102751);
$shadow-08: 0 3px 12px rgba(0, 0, 0, 0.1);
$shadow-09: 2px -1px 4px 0 rgb(0 0 0 / 20%);