<section
  bc-card
  typeCard="image"
  class="bc-flex bc-flex-column bc-align-items-center bc-w-100"
>
  <figure class="bc-card-picture bc-w-100">
    <img alt="random-image" src="../assets/temporal/aportes.png" />
  </figure>

  <section class="bc-card-content bc-w-100">
    <bc-icon class="bc-bg-warning bc-p-2 float-icon" aria-hidden="true">
      idea
    </bc-icon>
    <div class="bc-flex bc-flex-column bc-align-items-center content-upside">
      <span class="bc-card-subtitle  bc-text-center">
        ¿Te gustaría hacer algún aporte al sistema de diseño?
      </span>
      <strong class="bc-fw-bolder">Aquí puedes hacerlo</strong>
    </div>
  </section>
</section>
