//  ██╗███╗...██╗████████╗███████╗██████╗..█████╗..██████╗████████╗██╗.██████╗.███╗...██╗███████╗......██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██║████╗..██║╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██║██╔═══██╗████╗..██║██╔════╝......██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ██║██╔██╗.██║...██║...█████╗..██████╔╝███████║██║........██║...██║██║...██║██╔██╗.██║███████╗█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ██║██║╚██╗██║...██║...██╔══╝..██╔══██╗██╔══██║██║........██║...██║██║...██║██║╚██╗██║╚════██║╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  ██║██║.╚████║...██║...███████╗██║..██║██║..██║╚██████╗...██║...██║╚██████╔╝██║.╚████║███████║......╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  ╚═╝╚═╝..╚═══╝...╚═╝...╚══════╝╚═╝..╚═╝╚═╝..╚═╝.╚═════╝...╚═╝...╚═╝.╚═════╝.╚═╝..╚═══╝╚══════╝.......╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  ...............................................................................................................................................................

$interactions-utilities: () !default;
$interactions-utilities: (
    "user-select": (
        class: "user-select",
        values: (
            all: (
                -webkit-user-select: all,
                -moz-user-select: all,
                user-select: all,
            ),
            auto: (
                -webkit-user-select: auto,
                -moz-user-select: auto,
                user-select: auto,
            ),
            none: (
                -webkit-user-select: none,
                -moz-user-select: none,
                user-select: none,
            ),
        )
    ),
    "pe": (
        class: "pe",
        property: pointer-events,
        values: none auto
    ),
);