//  ██╗...██╗██╗███████╗██╗██████╗.██╗██╗.....██╗████████╗██╗...██╗.....██╗...██╗████████╗██╗██╗.....██╗████████╗██╗███████╗███████╗
//  ██║...██║██║██╔════╝██║██╔══██╗██║██║.....██║╚══██╔══╝╚██╗.██╔╝.....██║...██║╚══██╔══╝██║██║.....██║╚══██╔══╝██║██╔════╝██╔════╝
//  ██║...██║██║███████╗██║██████╔╝██║██║.....██║...██║....╚████╔╝█████╗██║...██║...██║...██║██║.....██║...██║...██║█████╗..███████╗
//  ╚██╗.██╔╝██║╚════██║██║██╔══██╗██║██║.....██║...██║.....╚██╔╝.╚════╝██║...██║...██║...██║██║.....██║...██║...██║██╔══╝..╚════██║
//  .╚████╔╝.██║███████║██║██████╔╝██║███████╗██║...██║......██║........╚██████╔╝...██║...██║███████╗██║...██║...██║███████╗███████║
//  ..╚═══╝..╚═╝╚══════╝╚═╝╚═════╝.╚═╝╚══════╝╚═╝...╚═╝......╚═╝.........╚═════╝....╚═╝...╚═╝╚══════╝╚═╝...╚═╝...╚═╝╚══════╝╚══════╝
//  ................................................................................................................................

$visibility-utilities: () !default;
$visibility-utilities: (
    "visibility":(
        values: (
            visible: (visibility: visible),
            invisible: (visibility: hidden)
        )
    ),
);
