
//  ██████╗ ██████╗  █████╗  ██████╗██╗████████╗██╗███████╗███████╗      ███╗   ███╗██╗██╗  ██╗██╗███╗   ██╗███████╗
// ██╔═══██╗██╔══██╗██╔══██╗██╔════╝██║╚══██╔══╝██║██╔════╝██╔════╝      ████╗ ████║██║╚██╗██╔╝██║████╗  ██║██╔════╝
// ██║   ██║██████╔╝███████║██║     ██║   ██║   ██║█████╗  ███████╗█████╗██╔████╔██║██║ ╚███╔╝ ██║██╔██╗ ██║███████╗
// ██║   ██║██╔═══╝ ██╔══██║██║     ██║   ██║   ██║██╔══╝  ╚════██║╚════╝██║╚██╔╝██║██║ ██╔██╗ ██║██║╚██╗██║╚════██║
// ╚██████╔╝██║     ██║  ██║╚██████╗██║   ██║   ██║███████╗███████║      ██║ ╚═╝ ██║██║██╔╝ ██╗██║██║ ╚████║███████║
//  ╚═════╝ ╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝   ╚═╝   ╚═╝╚══════╝╚══════╝      ╚═╝     ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
//  .............................................................................................................

@use '../configuration.scss' as *;
@use 'sass:list';

@mixin opacity ($opacity){
    $_opacities: 0, 0.08, 0.16, 0.24, 0.32, 0.4, 0.48, 0.56, 0.64, 0.72, 0.8, 0.88, 1;

    @if $opacity == 'hover' {
        $opacity: 0.08;
    }

    @if $opacity == 'press' {
        $opacity: 0.24;
    }

    @if $opacity == 'disabled' {
        $opacity: 0.4;
    }

    @if list.index($_opacities, $opacity) {
        opacity: $opacity;
    }
    @else {
        @error "No es posible usar la opacidad ingresada con transparencia #{$opacity}";
    }
}
