//  ███████╗.██████╗.██████╗.███╗...███╗......███████╗██╗███████╗██╗.....██████╗.......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔════╝██╔═══██╗██╔══██╗████╗.████║......██╔════╝██║██╔════╝██║.....██╔══██╗......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  █████╗..██║...██║██████╔╝██╔████╔██║█████╗█████╗..██║█████╗..██║.....██║..██║█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██╔══╝..██║...██║██╔══██╗██║╚██╔╝██║╚════╝██╔══╝..██║██╔══╝..██║.....██║..██║╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║.....╚██████╔╝██║..██║██║.╚═╝.██║......██║.....██║███████╗███████╗██████╔╝......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝......╚═════╝.╚═╝..╚═╝╚═╝.....╚═╝......╚═╝.....╚═╝╚══════╝╚══════╝╚═════╝.......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  ..............................................................................................................................

@use '../foundations/input-foundations.scss' as *;
@use '../configuration.scss' as *;
@use '../foundations/form-field-foundations.scss' as *;

@mixin label-style(
  $color-label,
  $font-size-label,
  $font-weight-label,
  $left-label,
  $padding-left-label,
  $position-label,
  $pointer-events-label,
  $top-label,
  $transition-label
) {
  color: $color-label;
  font-size: $font-size-label;
  font-weight: $font-weight-label;
  left: $left-label;
  padding-left: $padding-left-label;
  position: $position-label;
  pointer-events: $pointer-events-label;
  top: $top-label;
  transition: $transition-label;
}

@mixin data-input-container {
  > em, > bc-icon {
    position: absolute;
    color: $input-label-standar;
    top: 4px;
    font-size: $font-size-container;
    z-index: 2;
    @extend .#{$icon-class} !optional;
  }
  > em:first-child, > bc-icon:first-child  {
    left: 0;
    width: $font-size-container;
  }
  > input + em, > input + bc-icon {
    right: 0;
    left: initial;
  }

  em + input ~ label[for],  bc-icon + input ~ label[for]  {
    padding-left: $padding-left-when-icon;
  }
  em + input[type='date'] ~ label[for], bc-icon + input[type='date'] ~ label[for] {
    padding-left: 0px;
  }
  em + input , bc-icon + input {
    padding-left: $padding-left-when-icon;
  }
  > label[for] {
    @include label-style(
      $input-label-standar,
      $font-size-label-style,
      normal,
      0px,
      0px,
      absolute,
      none,
      3px,
      0.2s ease all
    );
  }
  > input[type='date'] ~ label[for] {
    @include label-style(
      $input-label-standar,
      14px,
      400,
      0px,
      -2px,
      absolute,
      none,
      -14px,
      0
    );
    line-height: 18px;
    letter-spacing: -0.2px;
    font-family: $font-family-input;
  }
  > input[type='date'] ~ span {
    size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.17px;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.6;
    input {
      font-weight: 600;
    }
  }
  @content;
}

@mixin data-input-container-disabled {
  pointer-events: none;
  opacity: 0.6;
  div {
    opacity: 0.6;
  }
}
