//  ██╗......█████╗.██████╗.███████╗██╗......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██║.....██╔══██╗██╔══██╗██╔════╝██║......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██║.....███████║██████╔╝█████╗..██║█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██║.....██╔══██║██╔══██╗██╔══╝..██║╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ███████╗██║..██║██████╔╝███████╗███████╗.██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚══════╝╚═╝..╚═╝╚═════╝.╚══════╝╚══════╝.╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  ....................................................................................

@use '../configuration.scss' as *;
@use '../foundations/button-group-foundations.scss';

@mixin info-label(
  $mgtop: 7px,
  $mgleft: 8px,
  $pos: absolute,
  $display: inline-block
) {
  position: $pos;
  margin-top: $mgtop;
  margin-left: $mgleft;
  display: $display;
}
@mixin svg_icon_and_txt(
  $fill: $bg,
  $color: $bg,
  $border-color: $bg
) {
  border-color: $border-color;
  fill: $fill;
  color: $color;
}
