<section id="containerComunidad" class="bc-pb-5">
    <div class="bc-container">
        <div class="row">
            <figure class="bc-col-lg-6" id="imageComunidad">
                <img src="assets/temporal/home/footeriMAGE.png" alt="footer image" />
            </figure>
            <div class="bc-col-lg-6" id="textoComunidad">
                <h3 id="tituloComunidad">Conoce nuestra comunidad</h3>
                <p id="pComunidad">
                    Encuentra noticias, explora iniciativas y comparte ideas para
                    seguir aprendiendo juntos
                </p>
                <br />
                <div id="buttonConocer" class="bc-col-6 bc-py-4">
                    <button aria-label="Cien mil pesos colombianos con 5 centavos" 
                    bc-button typeButton="terciary" 
                    (click)="navigate();">CONOCER MÁS</button>
                </div>
            </div>
        </div>
    </div>
</section>
