{
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "files":["*.html"],
      "options": {
        "singleQuote": false,
        "jsxBracketSameLine": false,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files":["*.ts"],
      "options": {
        "singleQuote": true,
        "printWidth": 120


      }
    }
  ]
}
