<section class="bc-container">
  <h3 class="bc-mt-4 bc-mb-3" id="titleFigma">Líbreria figma</h3>
  <iframe 
  title="iframeFigma" 
  height="800" 
  width="100%" 
  src="https://www.figma.com/embed?embed_host=angular&show-proto-sidebar=2&url=https://www.figma.com/file/QaXnGJgjpSWDwoIBn3IH8I/@bancolombia/design-system-web?node-id=0%3A5714" 
  allowfullscreen></iframe>
  <div class="bc-mt-4 bc-d-flex bc-justify-content-end" >
    <a class="bc-button-primary bc-button bc-col-2 bc-col-2 bc-col-xs-2 bc-text-center" 
    href="https://www.figma.com/file/QaXnGJgjpSWDwoIBn3IH8I/@bancolombia/design-system-web?node-id=0%3A5714" 
    target="_blank">Ir a figma</a>
  </div>
</section>