//  ██████╗.██████╗.███████╗██╗......██████╗..█████╗.██████╗.███████╗██████╗.......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔══██╗██╔══██╗██╔════╝██║.....██╔═══██╗██╔══██╗██╔══██╗██╔════╝██╔══██╗......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██████╔╝██████╔╝█████╗..██║.....██║...██║███████║██║..██║█████╗..██████╔╝█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██╔═══╝.██╔══██╗██╔══╝..██║.....██║...██║██╔══██║██║..██║██╔══╝..██╔══██╗╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║.....██║..██║███████╗███████╗╚██████╔╝██║..██║██████╔╝███████╗██║..██║......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝.....╚═╝..╚═╝╚══════╝╚══════╝.╚═════╝.╚═╝..╚═╝╚═════╝.╚══════╝╚═╝..╚═╝......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  ..........................................................................................................................

@use '../../foundations/atoms/preloader-foundations.scss' as *;

@mixin shine-animation() {
    animation: shine 15s linear  infinite;
    animation-fill-mode: forwards;  
    position: absolute;
    content: "";
    background: linear-gradient(to right, $preloader-background-color 32%, $preloader-animated-color 41%, $preloader-background-color 50%);
    background-size: 230px 100%;
  }