//  ██████╗.██████╗..██████╗..██████╗.██████╗.███████╗███████╗███████╗......██████╗..█████╗.██████╗.......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔══██╗██╔══██╗██╔═══██╗██╔════╝.██╔══██╗██╔════╝██╔════╝██╔════╝......██╔══██╗██╔══██╗██╔══██╗......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██████╔╝██████╔╝██║...██║██║..███╗██████╔╝█████╗..███████╗███████╗█████╗██████╔╝███████║██████╔╝█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██╔═══╝.██╔══██╗██║...██║██║...██║██╔══██╗██╔══╝..╚════██║╚════██║╚════╝██╔══██╗██╔══██║██╔══██╗╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║.....██║..██║╚██████╔╝╚██████╔╝██║..██║███████╗███████║███████║......██████╔╝██║..██║██║..██║......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝.....╚═╝..╚═╝.╚═════╝..╚═════╝.╚═╝..╚═╝╚══════╝╚══════╝╚══════╝......╚═════╝.╚═╝..╚═╝╚═╝..╚═╝......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  .................................................................................................................................................


@use '../../foundations/atoms/progress-bar-foundations.scss' as *;

@mixin progress-container-background($background: false) {
    @if $background == true {
        background-color: $progress-container-color
    } @else {
        background-color: transparent;
    }
}

@mixin inputfile-style-textalign-common($text-align){
    #{headings(1,6)} {
        width: 100%;
        text-align: $text-align;
    }

    h1 {
        font-size: $progress-display3;
        line-height: 68px;
        margin: 14px 0 0 0;
    }

    h6.lighter {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: $progress-heading-6;
        line-height: 22px;
    }

    h4 {
        font-size: $progress-heading-4;
    }
}

@function headings($from:1, $to:6) {

    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}
