//  ██████╗..█████╗.██████╗.██╗.██████╗.......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔══██╗██╔══██╗██╔══██╗██║██╔═══██╗......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ██████╔╝███████║██║..██║██║██║...██║█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ██╔══██╗██╔══██║██║..██║██║██║...██║╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ██║..██║██║..██║██████╔╝██║╚██████╔╝......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚═╝..╚═╝╚═╝..╚═╝╚═════╝.╚═╝.╚═════╝.......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  .....................................................................................

@mixin radio-style-common($left, $top, $border, $radius) {
    left: $left;
    top: $top;
    border: $border;
    border-radius: $radius;
}