//  ███████╗██████╗..█████╗..██████╗██╗███╗...██╗.██████╗.......███╗...███╗██╗██╗..██╗██╗███╗...██╗███████╗
//  ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗..██║██╔════╝.......████╗.████║██║╚██╗██╔╝██║████╗..██║██╔════╝
//  ███████╗██████╔╝███████║██║.....██║██╔██╗.██║██║..███╗█████╗██╔████╔██║██║.╚███╔╝.██║██╔██╗.██║███████╗
//  ╚════██║██╔═══╝.██╔══██║██║.....██║██║╚██╗██║██║...██║╚════╝██║╚██╔╝██║██║.██╔██╗.██║██║╚██╗██║╚════██║
//  ███████║██║.....██║..██║╚██████╗██║██║.╚████║╚██████╔╝......██║.╚═╝.██║██║██╔╝.██╗██║██║.╚████║███████║
//  ╚══════╝╚═╝.....╚═╝..╚═╝.╚═════╝╚═╝╚═╝..╚═══╝.╚═════╝.......╚═╝.....╚═╝╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝╚══════╝
//  .......................................................................................................

@mixin constructor($num) {
    margin: $num;
    &_padding {
        padding: $num;
    }
    &_top {
        margin-block-start: $num;
        &_padding {
            padding-block-start: $num;
        }
    }
    &_bottom {
        margin-block-end: $num;
        &_padding {
            padding-block-end: $num;
        }
    }
    &_left {
        margin-inline-start: $num;
        &_padding {
            padding-inline-start: $num;
        }
    }
    &_right {
        margin-inline-end: $num;
        &_padding {
            padding-inline-end: $num;
        }
    }
}