<!-- <section class="bg-primary dev-header bc-text-white" id="topContent">
  <div class="bc-container">
    <div class="bc-row">
      <div
        class="bc-col-12 bc-d-flex bc-justify-content-between bc-align-items-center bc-py-2"
      >
        <div
          class="bc-d-flex bc-align-items-center"
          routerLink=".."
          id="routingTopContent"
        >
          <bc-icon id="iconTopContent">arrow2-left</bc-icon>
          Regresar
        </div>
      </div>
    </div>
    <div class="bc-row">
      <h3 id="textDevelop">Desarrolladores</h3>
    </div>
    <div class="bc-row bc-d-flex bc-align-items-center bc-py-5">
      <div
        class="bc-col-md-6 bc-col-xs-6 bc-col-sm-12"
        id="imageDesignTopContent"
      >
        <img src="assets/temporal/dev-home/header-img.png" alt="" />
      </div>
      <div class="bc-col-md-6 bc-col-xs-6 bc-col-sm-12">
        <h2 id="subtitleDesign" class="bc-py-3">Design, develop, deliver</h2>
        <p id="textDesign bc-my-2">
          Utiliza de extremo a extremo el lenguaje de diseño del SDB para crear
          experiencias simples, intuitivas y atractivas.
        </p>
        <button bc-button class="bc-mt-2 bc-col-8" (click)="open_modal()">
          VER VIDEO
        </button>
      </div>
    </div>
    <div class="bc-row bc-flex bc-justify-content-between">
      <div
        *ngFor="let option of developOptions"
        id="{{ option.id }}"
        role="button"
        class="bc-col-xs-6 bc-col-sm-5 bc-col-md-5 bc-col-lg-5 bc-col-xl-2 dev-actions bc-flex   bc-align-self-center bc-mb-2 bc-p-3 "
      >
        <bc-icon>{{ option.icon }}</bc-icon>
        <a
          class="bc-text-white bc-col-xs-4 bc-offset-xs-1 bc-col-sm-7 bc-offset-sm-1 bc-col-lg-5 bc-offset-lg-2 bc-col-xl-8 bc-offset-xl-0"
          target="_blank"
          href="{{ option.path }}"
        >
          {{ option.title }}
        </a>
      </div>
    </div>
    <div class="bc-row bc-pt-5" id="buttonSearchContainer">
      <input
        id="inputSearch"
        placeholder="Busca todo lo que necesites en diseño"
        type="text"
      />
      <div id="buttonSearch"><em class="bc-icon sm">search</em></div>
    </div>
  </div>
</section>

<section class="bg-white dev-slider- bc-py-6">
  <div class="bc-container">
    <div class="bc-row bc-pb-3">
      <div class="bc-col-12">
        <h4>Recursos</h4>
      </div>
    </div>
    <div class="bc-row bc-flex  bc-justify-content-center carousel-resources">
      <div
        *ngFor="let shortcut of shortcuts"
        class="bc-col-xs-6 bc-col-sm-12 bc-col-md-5 bc-col-lg-4 bc-col-xl-4 bc-ps-1 bc-my-2 "
        id="iconResourceComponents"
        routerLink="{{ shortcut.path }}"
      >
        <div
          class="bg-body bc-d-flex bc-flex-column bc-justify-content-start bc-py-5 bc-px-4"
        >
          <div  >
            <bc-icon id="{{ shortcut.id }}" class="bc-p-2 md fill-icon" >
              {{ shortcut.icon }}
            </bc-icon>
          </div>

          <h5 class="titles">{{ shortcut.title }}</h5>
          <p>
            {{ shortcut.description }}
          </p>
          <p id="route1" class="conoceMas">
            Conocer más
            <bc-icon>arrow3-right</bc-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="carousel">
  <section class="bc-container bc-pt-5" id="containerCarrousel">
    <h3 id="tituloCarrousel">Buenas practicas de desarrollo Bancolombia</h3>
    <bc-carousel
      [ariaLabelCarousel]="'prueba aria label'"
      [configCarouselInitial]="configCarousel"
      [componentId]="'bc-carousel-0'"
    >
      <bc-carousel-item
        *ngFor="let item of objItemsGoodPractices; let i = index"
      >
        <div class="rowPracticas" routerLink="/newspaper/newspaper">
          <div class="colPracticas" [id]="'carrouselColores' + i">
            <img [src]="item.img" alt="images-carousel" />
            <h5>{{ item.title }}</h5>
            <small>{{ item.date }}</small>
          </div>
        </div>
      </bc-carousel-item>
    </bc-carousel>
  </section>
  <community-banner-component></community-banner-component>
</section> -->
