@use "./input.foundation.scss" as *;
@use "../../core/config.scss" as *;

$input-name: "complex-input";
$input-namespace: #{$prefix}-"#{$input-name}";

.#{$input-namespace} {
  border-color: $input-base-border-color;
  border-radius: $input-border-radius;
}

@mixin input-container() {
  display: flex;
}

:host {
  display: flex;
  align-items: center;
  em {
    height: 20px;
    width: 20px;
    padding: 3px;
  }

  label {
    display: flex;
    position: relative;
    flex-direction: column;
    input {
      height: 20px;
      border-radius: 5px;
    }
  }
}
