.bg-primary {
  background-color: #373737;
}

.bc-container {
  width: 90%;
}

.header-back {
  padding-top: 2pc;
}

.titles {
  margin-top: 1pc;
}

.bg-primary-black {
  background-color: #2C2A29;
}

.bg-secondary {
  background-color: #FDDA24;
}

.bg-complementary {
  background-color: #59CBE8;
}

.bg-body {
  background-color: #F4F4F4;
}

.bg-white {
  background-color: #ffffff;
}

.dev-img-circle {
  width: 30px;
}

.fake-dropdown {
  min-width: 119px;
}

.dev-border-rounded {
  border-radius: 100px;
}

.card-good-practice {
  width: 800px;
}

#containerCards {
  display: flex;
  flex-wrap: nowrap;
  height: 300px;
  overflow-x: auto;
  width: auto;
}

.dev-actions {
  min-width: 219px;
  cursor: pointer;
}

.dev-actions:hover {
  background-color: #2C2A29;
}

.dev-info {
  min-height: 232px;
}

.dev-info img {
  bottom: -114px;
}

.dev-info-head {
  padding-right: 5rem;
}

.dev-copyright {
  font-size: 14px;
}

.dev-socialmedia {
  cursor: pointer;
}

.dev-socialmedia:hover {
  font-size: 0.9rem;
}

.containerPracticas {
  display: flex;
  overflow-y: hidden;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: auto;
  margin-top: 1pc;
  height: 20pc;
}

.rowPracticas {
  max-width: 300px;
}

.rowPracticas .colPracticas {
  text-align: left;
}

#containerCarrousel {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.bc-icon::selection {
  background: none;
}

.bc-carousel-arrow {
  padding: 1rem;
}

.colPracticas img {
  width: 100%;
}

#searchBar {
  width: 45%;
  float: right;
}

#inputSearch[type="text"] {
  width: 100%;
  height: 3pc;
  border-radius: 10pc;
  padding-right: 3pc;
  border: none;
  padding-left: 1.5pc;
  box-shadow: 0 1px 5px -2px grey;
}

#inputSearch:focus-visible {
  outline: none;
}

#buttonSearch {
  margin-left: -3pc;
  height: 3pc;
  border-radius: 10pc;
  width: 3pc;
  background: #FDDA24;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#buttonSearch em {
  margin: auto;
  color: black;
}

#iconTopContent {
  cursor: pointer;
}

#buttonSearchContainer {
  display: flex;
  width: 80%;
  margin: auto auto -1.5pc;
}

#containerComunidad {
  background: #E5E5E5;
  margin-top: 5pc;
}

#containerComunidad .bc-container {
  background-color: #59CBE8;
  display: flex;
}

#imageComunidad img {
  width: 100%;
  margin-top: -2pc;
}

#textoComunidad {
  padding: 1pc
}

#tituloComunidad {
  margin-bottom: 0.5pc;
  margin-top: 1pc;
}

#pComunidad {
  margin-bottom: 0.5pc;
  font-weight: 400;
}

#sectionCarrousel {
  background-color: #E5E5E5;
  padding-left: 1pc;
  padding-right: 1pc
}

#iconoResourceFigma {
  background-color: #9063CD;
}

#iconoResourceDisability {
  background-color: #59CBE8;
}

#iconoResourceCommunication {
  background-color: #FDDA24;
}

#iconoResourceAccessibility:before {
  content: "\EA8C";
}

#iconoResourceAccessibility {
  background-color: #F5B6CD;
}

#iconoResourceDisability:before {
  content: "\EA76";
}

em {
  font-family: newBcIcon, serif;
  padding: 0.5pc;
}
.bc-icon {
  width: 40px;
}

@font-face {
  font-family: newBcIcon;
  src: url(src/assets/icons/functionals/icons.woff);
}
