//  .█████╗..██████╗.██████╗.██████╗.██████╗.██████╗.██╗.██████╗.███╗...██╗
//  ██╔══██╗██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗██║██╔═══██╗████╗..██║
//  ███████║██║.....██║.....██║...██║██████╔╝██║..██║██║██║...██║██╔██╗.██║
//  ██╔══██║██║.....██║.....██║...██║██╔══██╗██║..██║██║██║...██║██║╚██╗██║
//  ██║..██║╚██████╗╚██████╗╚██████╔╝██║..██║██████╔╝██║╚██████╔╝██║.╚████║
//  ╚═╝..╚═╝.╚═════╝.╚═════╝.╚═════╝.╚═╝..╚═╝╚═════╝.╚═╝.╚═════╝.╚═╝..╚═══╝
//  .......................................................................

@use "../../icon/styles/icon.scss";
@use "../../../core/mixins/common-mixins.scss" as *;
@use "../../../core/foundations/accordion-foundations.scss" as *;
@use "../../../core/configuration.scss" as *;
@use "sass:math";

$accordion-name: "accordion";
$accordion-namespace: #{$prefix-lib}-#{$accordion-name};

$accordion-header-left: #{$accordion-namespace}-header-left;
$accordion-header-right: #{$accordion-namespace}-header-right;
$accordion-content: #{$accordion-namespace}-content;

@mixin accordion {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: math.div($space, 2);
  background-color: $accordion-bg-color;
  header[aria-expanded][aria-controls][id][aria-labelledby],
  header[aria-expanded][aria-controls][id][aria-label] {
    padding: $space * 2;
    display: flex;
    align-items: center;
    @include outline_on_focus;
    section.#{$accordion-header-left} {
      display: flex;
      align-items: center;

      #{$icon-namespace} {
        color: $accordion-bg-header-text;
      }
      .#{$prefix-lib}-img {
        width: 32px;
        height: 24px;
      }
      .#{$accordion-namespace}-text-container {
        margin-left: $space;
        .#{$accordion-namespace}-title {
          color: $accordion-bg-header-text;
          font-size: $accordion-header-title-size + 2;
          letter-spacing: -0.3px;
          line-height: 20px;
          font-weight: 600;
          .#{$icon-namespace} {
            display: inline-block;
            vertical-align: middle;
            margin-left: 2px;
          }
        }
        .#{$accordion-namespace}-subtitle {
          color: $accordion-bg-header-text;
          font-size: $accordion-header-subtitle-size;
          letter-spacing: -0.2px;
          line-height: 18px;
          font-family: $accordion-font-open-sans;
          margin-top: 4px;
          #{$icon-namespace} {
            display: inline-block;
            vertical-align: middle;
            margin-left: 2px;
          }
        }
      }
    }
    section.#{$accordion-header-right} {
      margin-left: auto;
      display: flex;
      align-items: center;
      #{$icon-namespace} {
        color: $accordion-bg-header-text;
        cursor: pointer;
        &.#{$prefix-lib}-toggle-button {
          margin-left: auto;
          transform: rotate(0);
          transition-duration: 0.35s;
        }
      }
      .#{$accordion-namespace}-label {
        color: $accordion-bg-header-text;
        font-size: $accordion-header-subtitle-size;
        letter-spacing: -0.2px;
        line-height: 18px;
        font-family: $accordion-font-open-sans;
        margin-right: 8px;
      }
      .#{$accordion-namespace}-action-container {
        display: flex;
        align-items: center;
        padding-left: $space;
        padding-right: $space * 3;
        #{$icon-namespace} {
          margin-left: $space * 3;
          &:first-child {
            margin-left: $space;
          }
        }
      }
      .#{$accordion-namespace}-columns-container {
        display: flex;
        align-items: center;
        margin-left: $space;
        .#{$accordion-namespace}-column {
          margin-right: $space * 2;
          text-align: right;
          color: $accordion-bg-header-text;
          font-size: $accordion-header-subtitle-size + 2;
          letter-spacing: -0.3px;
          line-height: 20px;
          font-weight: 400;
          font-family: $accordion-font-open-sans;
          &-exchange {
            display: block;
          }
          &:last-child {
            margin-right: ($space * 2) + 4;
            font-weight: 600;
            font-family: $accordion-font-cibfont-sans;
            font-size: $accordion-header-title-size + 2;
          }
        }
      }
    }
  }
  section.#{$accordion-content}[role="region"] {
    font-size: $font-size-h6;
    max-height: 0;
    transition-duration: 0.35s;
    color: $accordion-bg-header-text;
    overflow-y: auto;
    outline-color: $accordion-outline-color;
  }
  header[aria-expanded="true"] + section.#{$accordion-content}[role="region"] {
    max-height: 100vh;
  }
  &.#{$prefix-lib}-active {
    & > header[aria-expanded][aria-controls][id][aria-label],
    & > * > header[aria-expanded][aria-controls][id][aria-label],
    & > header[aria-expanded][aria-controls][id][aria-labelledby],
    & > * > header[aria-expanded][aria-controls][id][aria-labelledby] {
      background-color: $accordion-bg-header-active;
      outline-color: $accordion-outline-color;
      section.#{$accordion-header-left} {
        #{$icon-namespace} {
          color: $accordion-bg-header-active-text;
        }
        .#{$accordion-namespace}-text-container {
          .#{$accordion-namespace}-title,
          .#{$accordion-namespace}-subtitle {
            color: $accordion-bg-header-active-text;
          }
        }
      }
      section.#{$accordion-header-right} {
        #{$icon-namespace} {
          color: $accordion-bg-header-active-text;
          &.#{$prefix-lib}-toggle-button {
            transform: rotate(180deg);
          }
        }
        .#{$accordion-namespace}-label {
          color: $accordion-bg-header-active-text;
        }
        .#{$accordion-namespace}-columns-container {
          .#{$accordion-namespace}-column {
            color: $accordion-bg-header-active-text;
          }
        }
      }
    }
    & > section.#{$accordion-content}[role="region"],
    & > * > section.#{$accordion-content}[role="region"] {
      max-height: 100vh;
    }
    .#{$accordion-namespace}-container-column-mobile {
      color: $accordion-bg-header-active-text;
    }
  }
  &.#{$prefix-lib}-disabled {
    & > header[aria-expanded][aria-controls][id][aria-label],
    & > * > header[aria-expanded][aria-controls][id][aria-label],
    & > header[aria-expanded][aria-controls][id][aria-labelledby],
    & > * > header[aria-expanded][aria-controls][id][aria-labelledby] {
      background-color: $accordion-bg-disabled;
      section.#{$accordion-header-left} {
        #{$icon-namespace} {
          color: $accordion-bg-header-disabled-text;
        }
        .#{$accordion-namespace}-text-container {
          .#{$accordion-namespace}-title,
          .#{$accordion-namespace}-subtitle {
            color: $accordion-bg-header-disabled-text;
          }
        }
      }
      section.#{$accordion-header-right} {
        #{$icon-namespace} {
          color: $accordion-bg-header-disabled-text;
          &.#{$prefix-lib}-toggle-button {
            pointer-events: none;
          }
        }
        .#{$accordion-namespace}-label {
          color: $accordion-bg-header-disabled-text;
        }
        .#{$accordion-namespace}-columns-container {
          .#{$accordion-namespace}-column {
            color: $accordion-bg-header-disabled-text;
          }
        }
      }
    }
  }
  &.#{$accordion-namespace}-minimal,
  &.#{$accordion-namespace}-minimal-unbordered {
    background-color: transparent;
    border-top: 1px solid $accordion-border-color;
    border-bottom: 1px solid $accordion-border-color;
    border-radius: 1px;
    header[aria-expanded][aria-controls][id][aria-labelledby],
    header[aria-expanded][aria-controls][id][aria-label] {
      padding-top: $space * 2;
      padding-bottom: $space * 2;
      min-height: 74px;
      section.#{$accordion-header-left} {
        .#{$accordion-namespace}-text-container {
          .#{$accordion-namespace}-title {
            font-size: $accordion-header-title-size;
            font-family: $accordion-font-open-sans-semibold;
          }
          .#{$accordion-namespace}-subtitle {
            font-size: $accordion-header-subtitle-size - 2;
          }
        }
      }
    }
    &.#{$prefix-lib}-active {
      header[aria-expanded][aria-controls][id][aria-label],
      header[aria-expanded][aria-controls][id][aria-labelledby] {
        background-color: inherit;
        section.#{$accordion-header-left} {
          #{$icon-namespace} {
            color: inherit;
          }
          .#{$accordion-namespace}-text-container {
            .#{$accordion-namespace}-title,
            .#{$accordion-namespace}-subtitle {
              color: inherit;
            }
          }
        }
        section.#{$accordion-header-right} {
          .#{$icon-namespace} {
            color: inherit;
            &.#{$prefix-lib}-toggle-button {
              transform: rotate(180deg);
            }
          }
          .#{$accordion-namespace}-label {
            color: inherit;
          }
          .#{$accordion-namespace}-columns-container {
            .#{$accordion-namespace}-column {
              color: inherit;
            }
          }
        }
      }
    }
    &-unbordered {
      border: none;
    }
  }
  h6.#{$accordion-namespace}-column {
    header[aria-expanded][aria-controls][id][aria-label],
    header[aria-expanded][aria-controls][id][aria-labelledby] {
      max-height: 62px;
      min-height: 56px;
      padding: 11px 16px;
      section.#{$accordion-header-left} {
        flex: 1;
        .#{$accordion-namespace}-text-container {
          .#{$accordion-namespace}-title {
            font-family: $accordion-font-open-sans;
            font-size: $accordion-header-title-size;
            font-weight: 400;
          }
        }
      }
      section.#{$accordion-header-right} {
        flex: 3;
        .#{$accordion-namespace}-columns-container {
          width: 100%;
          justify-content: flex-end;
          .#{$accordion-namespace}-column {
            flex-basis: math.div(100%, 3);
            &.#{$prefix-lib}-align-left {
              text-align: left;
            }
          }
        }
      }
    }
  }

  //   article.#{$accordion-namespace}-container-column {
  //     header[aria-expanded][aria-controls][id][aria-labelledby],
  //     header[aria-expanded][aria-controls][id][aria-label] {
  //       flex-wrap: wrap;
  //       width: 100%;
  //       .#{$accordion-namespace}-container-columns-item{
  //         width: 100%;
  //       }

  //       section.#{$accordion-header-right}{
  //         flex: 1 1 0px;
  //         margin-left: initial;
  //         .#{$accordion-namespace}-columns-container{
  //           width: 100%;

  //           @media screen and (max-width: $accordion-breakpoint-sm-max-width) {
  //             display: none;
  //           }

  //           .#{$accordion-namespace}-column{
  //             flex: 1 1 0px;
  //           }
  //         }
  //       }

  //       .#{$accordion-namespace}-container-column-mobile {
  //         display: none;
  //         width: 100%;
  //         padding-top: 10px;
  //         @media screen and (max-width: $accordion-breakpoint-sm-max-width) {
  //           display: flex;
  //         }
  //       }
  //     }
  //   }
}
:host {
  @include accordion();

 
}
div.#{$accordion-namespace}s-group[role="group"],
div.#{$accordion-namespace}s-group.#{$prefix-lib}-multiple[role="group"] {
  outline: 0;
}

@media only screen and (max-width: 767px) {
  div.#{$accordion-namespace}s-group[role="group"] {
    article.#{$accordion-namespace} {
      header[aria-expanded][aria-controls][id][aria-label],
      header[aria-expanded][aria-controls][id][aria-labelledby] {
        section.#{$accordion-header-right} {
          .#{$accordion-namespace}-columns-container {
            .#{$accordion-namespace}-column {
              width: 60px;
            }
          }
        }
      }
    }
  }
}
