@use '../mixins/shadows-mixins.scss' as *;
@use "../tokens/themes/white-theme.scss" as *;

// ███████╗██╗     ███████╗██╗   ██╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
// ██╔════╝██║     ██╔════╝██║   ██║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
// █████╗  ██║     █████╗  ██║   ██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
// ██╔══╝  ██║     ██╔══╝  ╚██╗ ██╔╝██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
// ███████╗███████╗███████╗ ╚████╔╝ ██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
// ╚══════╝╚══════╝╚══════╝  ╚═══╝  ╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
//  ...........................................................

$elevations-00: none;
$elevations-01: 0px 1px 2px;
$elevations-02: 0px 1px 4px;
$elevations-03: 0px 1px 8px;
$elevations-04: 0px 3px 12px;
$elevations-05: 0px 10px 16px;
$elevations-06: 0px 14px 20px;
