//  ███████╗██╗███████╗███████╗███████╗
//  ██╔════╝██║╚══███╔╝██╔════╝██╔════╝
//  ███████╗██║..███╔╝.█████╗..███████╗
//  ╚════██║██║.███╔╝..██╔══╝..╚════██║
//  ███████║██║███████╗███████╗███████║
//  ╚══════╝╚═╝╚══════╝╚══════╝╚══════╝
//  ...................................

$thickness-01: 1px;
$thickness-02: 2px;
$thickness-03: 3px;
$thickness-04: 9px;
$thickness-00: -1px;
$size-small: 10px;
$size-small-00: 4px;
$size-small-01: 5px;
$size-medium: 22px;
$size-medium-00: 20px;
$size-medium-01: 7px;
$size-medium-02: 14px;
$size-medium-03: 32px;
$size-medium-04: 16px;
$size-medium-05: 18px;
$size-medium-06: 20px;
$size-medium-07: 30px;
$size-medium-08: 24px;
$size-height-01: 64px;
$size-height-02: 68px;
$size-negative-01: -5px;
$size-large-01: 343px;
$size-large-02: 1024px;
$size-large-03: 400px;
$size-large-04: 600px;
