$width: 325px;
$height: 625px;
.mobile-vizualitazor{
        width: $width;
        height:$height;
        border-radius: 20px;
}
.cellphone-background{
    display: flex;
    max-width: 100%;
    padding-left: 10px;
    width: $width + 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    background: no-repeat center url('../../../../../../assets/images/phone-frame.png');
    background-size: 100% 100%;
}